@font-face {
    font-family: Barlow;
    src: url(font-family/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow-bold;
    src: url(font-family/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(font-family/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins bold;
    src: url(font-family/Poppins-Bold.ttf);
}




body {
    margin: 0;
    padding: 0; /* tar bort utrymme på kanter */
    
}

body, html {
    height: 100%;
  }


p {
    font-family: Poppins;
}

/* Sektion 1 */


/* header är toppen på sidan där loggan och navigeringen är */
header {
    position: fixed; /* sitter fast i toppen men hamnar under banner bilden - z-index behövs */
    width: 100%; /* 100% av viewport*/
    z-index: 999; /* header-nav ligger ovanpå img banner */
    top: 0; /* space försvinner på toppen */
    left: 0; /* space försvinner på sidor */
}

span {
    display: block;
}

.main-nav {
    position: sticky; /* navigeringen följer med när man scrollar */
    background-color: rgb(20, 27, 37);
    opacity: 0.9;
    padding: 20px 50px 20px 50px;
    width: 100%;
    height: 50px;
    width: 100%;
    white-space: nowrap;
}


nav ul {
    position: absolute; /* kopplar ifrån ordinarie dokument flöde - kan förflytta ul mha left och topp*/
    left: 55%;
    
}


/* GJORDE FEL på denna: unordered list i navigeringen */
1111nav ul {
    display: flex;
    white-space: nowrap; /* så att de hamnar på samma rad */
    margin: auto; /* margin är automatisk vänater och höger */
    max-width: 100%;
    align-items: right; /* länkar är till höger */
    justify-content: right;
    flex-direction: row;
    text-align: right;
    vertical-align: middle; 
    
}


/* listan i ul */
nav ul li {
    display: inline-block; /* så att de ligger på rad, man kan sätta paddding */
    margin: 0 5px;
    font-size: 25;
    padding-top: 0px;
    font-family: Barlow;
}

/* länkarna i nav */
nav li a {
    text-decoration: none;
    color: white;
}

/* sektion klassen där img och texten finns, banner=förälder */
.banner {
    position: relative;
    width: 100%;
    white-space: nowrap;
    background-color: black;
    
    
}

.parallax {
    background-image: url("./img/nathon-oski-EW_rqoSdDes-unsplash.jpg");
    height: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;

}

/*.banner img {
    width: 100%;
    opacity: 0.5;
    position: relative;  
   
}*/


/* welcome texten i bannern, welcome-klassen är barn till banner-föräldern  */
.banner .welcome{
    position: absolute; /* tar ut från normalt dokument flöde och förlorar space runom texten */
    left: 55%; /* placerar text 55% från vänster */
    top: 25%; /* placerar text 25% från topp */
    color: white;
    z-index: 2;
}

.banner h2{
    font-size: 50px;
    font-family: Barlow-bold;
    color: white;
}


.banner .welcome .undertext {
    color: white;
    font-family: Poppins;
    
}

/* p tagg i welcome texten på bannern */
.banner .welcome p {
    color:  rgb(191, 146, 91);
    font-family: Poppins-bold;
}

.banner .welcome h2 span {
    color: transparent;
}

.undertext {
    border-left: 3px solid rgb(191, 146, 91);
    padding-bottom: 90px;
    padding-left: 60px;
    font-family: Poppins;
}

/* länken i bannern med kantlinje - under welcome text */
.learnmore a {
    position: absolute;
    background-color: rgba (255, 255, 255, .2); /* ingen bakgrundsfärg */
    text-decoration: none; /* ingen underline i länk */
    color:  rgb(191, 146, 91);
    padding: 10px;
    border: 1px solid rgb(191, 146, 91); /* kantlinje runt länk */
    bottom: 50px;
    left: 60px;
    font-family: Barlow-bold;
}
    
a:hover {
    color:  rgb(191, 146, 91);
}


.learnmore a:hover {
    background-color:  rgb(191, 146, 91);
    color: white;
}


h1 {
    color: white;
    font-size: ;
    font-family: Barlow;
    display: flex;
    white-space: nowrap;
    margin: auto;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    text-align: left; 
    position: absolute; 
    padding-top: 10px;
}


/* logga i header-nav */
/*nav img {
    display: flex;
    white-space: nowrap;
    margin: auto;
    max-width: 100%;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    text-align: left; 
    position: absolute;  
} */



/* Sektion 2 */


/* sektion klassen under bannern */
.tjanster {
    background-color:  rgb(223, 182, 131);
    width: 100%;
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 100%);
    position: relative;
   
}

.tjanster h3 {
    font-family: Barlow-bold;
    font-size: 20px;
    padding-top: 30px;
    color: white;
}

.tjanster p {
    font-family: Poppins;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 100px;

}

/* div boxarna i tjanster klassen */
.tjanster > div {
    background-color: rgb(223, 182, 131);
    text-align: center;
    padding: 0px;
    z-index: 1;
   
}

/* .tjanster > div:nth-child(1) {
    grid-column: 

}*/

.tjanster .box1 {
    grid-row-start: 1;
    grid-row-end: 1;
    background-color:  rgb(223, 182, 131);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    
}

/* egenskaper för box 2 */
.tjanster .box2 {
    background-color: rgb(191, 146, 91);
    grid-row-start: 1;
    grid-row-end: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
    
}

.tjanster .box3 {
    background-color: rgb(223, 182, 131);
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}

.tjanster .box4 {
    background-color: rgb(191, 146, 91);
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}



.box1 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -35%;
    object-fit: ;
    
}

.box2 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -35%;
    
     
}

.box3 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -35%;
    
}

.box4 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -35%;
   
}



/* Sektion 3 */

.about-barber {
    position: relative;
    margin: 0%;
    padding: 0%;
}

.about-barber img {
    width: 40%;
    padding: 10%;

}

.about-barber .about-text {
    position: absolute;
    bottom: 20%;
    left: 55%;
    
}

.about-text h4 {
    font-family: Barlow-bold;
    color: rgb(191, 146, 91);
    font-size: 14px;
}

.smooth-barber {
    font-family: Barlow-bold;
    color: black;
    font-size: 30px;
}

.barber-under {
    font-family: Poppins;
    color: black;
    font-size: 20px;
}

.calender-box {
    background-color:  rgb(191, 146, 91);
    width: 300px;
    height: 170px;
    position: relative;
}

.number-text {
    font-family: Barlow-bold;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 55%;
    bottom: 30%;
    margin: 0%;
    padding: 0;
}

.logo {
    width: 35%;
    position: relative;
    border-radius: 50%;
}







/* Sektion 4 */


.testimonial {
    background-color: rgb(235, 232, 222);
    height: 800px;
    width: 100%; /* 100vw? */
    margin: 0 auto;
    position: relative;
    
}


.testimonial h4 {
    font-size: 20px;
    font-family: Barlow-bold;
    color: rgb(191, 146, 91);
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.under-testimonial {
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
}

.testimonial .ruta p {
    font-size: 13px;
    text-align: left;
 
}


.citat-tecken {
    background-color:  rgb(191, 146, 91);
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -20;


}

.rutor {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 1rem 0;
    justify-content: center; /* rutorna hamnar i centrum */
}


.ruta {
    width: 20%;
    background-color: white;
    display: inline-block;
    padding: 20px;
    margin-left: 1%;
    border-radius: 5px;
    
    
}

.innehåll-ruta {
    position: relative;
    text-align: left;
    bottom: 19%;
    
}


.ruta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checked {
    color:  rgb(191, 146, 91);
}

.stars {
    display: inline-block;
    position: absolute;
    bottom: 60px;
    padding-left: 5%;
}

.ruta .name {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    padding-left: 5%;
}

.ruta .kund {
    display: inline-block;
    position: absolute;
    bottom: -15px;
    padding-left: 5%;
    font-family: Poppins;
    color: rgb(191, 146, 91);
}





/* Sektion 5 = footer */

.footer {
    background-color: black;
    height: 300px;
    width: 100vw;
    color: white;
    margin: 0 auto;
    
}

.footer .main-footer {
    background-color: blue;
    width: 350px;
    height: 200px;
    display: inline-block;
    position: relative;
}




.footer h5 {
    font-size: 20px;
    font-family: Barlow-bold;

}

.footer p {
    font-size: 15px;
    font-family: Barlow-bold;

}




/* responsiv */



@media screen and (max-width: 1400px) {
    
    .banner .welcome h2 {
    font-size: 30px;  
    }


    .box1 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        object-fit: ;
        
    }
    
    .box2 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        
         
    }
    
    .box3 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        
    }
    
    .box4 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
       
    }
  

}

@media screen and (max-width: 960px) {
    
    .banner .welcome h2{
    font-size: 25px;  
    }

    .tjanster .img {
    display: block;
    width: 100%;
    margin: 20px auto;
    } 


    .box1 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        object-fit: ;
        
    }
    
    .box2 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        
         
    }
    
    .box3 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
        
    }
    
    .box4 div img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -35%;
       
    }




    }

    
    @media screen and (max-width: 680px) {
    
    .tjanster .img {
    display: block;
    width: 100%;
    margin: 20px auto;
    } 

    .main-nav li {
        display: block;
        font-size: 20px;
        width: 100%;
        margin: 5px 0;
      
        
    }
    .main-nav ul {
        background-color: black;
        text-align: center;
        
    }

    .banner .welcome{
        position: absolute; 
        padding: 5px; 
        left: 1%;
        top: 1%
    }
    
    .banner .welcome h2{
        font-size: 30px;  
       
    }
    
    .banner .welcome span {
        font-size: 1em; 
    
    }


    .box1 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;
        
    }
    
    .box2 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;
        
         
    }
    
    .box3 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;
        
    }
    
    .box4 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;
       
    }

    }

    @media screen and (max-width: 560px) {
    .banner {
    position: relative; 

    }


    .tjanster {
        display: block;
    }

    .tjanster .img {
        display: block;
        width: 100%;
        margin: 20px auto;
        }  

    .main-nav li {
        display: block;
        font-size: 15px;
        width: 100%;
        margin: 5px 0;
      
        
    }
    .main-nav ul {
        background-color: black;
        text-align: center;
        
    }

    header {
        position: relative;}

    .main-nav { 
        top: 0;
    }    
    
    .undertext {
       font-size: 10px;
    }
 


   
    .box1 div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -15%;
    
    }

    .box2 div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -15%;
    
     
    }

    .box3 div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -15%;
    
    }

    .box4 div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -15%;
   
    }
    

    }
    
    
    @media screen and (max-width: 375px) { 
        
        .main-nav {
            position: sticky; /* navigeringen följer med när man scrollar */
            background-color: rgb(20, 27, 37);
            opacity: 0.9;
            padding: 20px 50px 20px 50px;
            width: 100%;
            height: 20px;
            width: auto;
            white-space: nowrap;
        

        }

        /* Sektion 1 = header, banner */
        
        
        .banner {
            position: relative; 
        }

        .banner h2{
            font-size: 25px;
            font-family: Barlow-bold;
            color: white;
        }    

        .parallax {
            height: 
        }    
        
        
        
        .main-nav li {
            display: block;
            font-size: 10px;
            width: 100%;
            margin: 5px 0;
                
              
        }


        .main-nav ul {
            background-color: black;
            text-align: center;
                
        }
        
        header {
            position: relative;
        }
        
        .main-nav { 
            top: 0;
        }    
            
        .undertext {
            font-size: 10px;
        }
         
        .banner .welcome h2 {
            font-size: 20px;
        }
        
           
        
        
        /* Sektion 2 */


        .tjanster {
            display: block;
            justify-content: center;
        }
        
        .tjanster .img {
            display: block;
            width: 100%;
            margin: 15px auto;
        }  

        .box1 div img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: -15%;
            
        }
        
        .box2 div img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: -15%;
            
             
        }
        
        .box3 div img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: -15%;
            
        }
        
        .box4 div img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: -15%;
           
        }



        /* Sektion 3 */



        .about-barber {
            position: relative;
            margin: 0%;
            padding: 0%;
        }
        
        .about-barber .about-img {
            width: 100%;
            padding: 0%;
            margin: 0%;
        
        }
        
        .about-barber .about-text {
            position: relative;
            display: block;
            bottom: 20%;
            left: 1%;
            
        }
        
        .about-text h4 {
            font-family: Barlow-bold;
            color: rgb(191, 146, 91);
            font-size: 7px;
        }
        
        .smooth-barber {
            font-family: Barlow-bold;
            color: black;
            font-size: 15px;
        }
        
        .barber-under {
            font-family: Poppins;
            color: black;
            font-size: 10px;
        }
        
        .calender-box {
            background-color:  rgb(191, 146, 91);
            width: 300px;
            height: 170px;
            position: relative;
            margin-bottom: 10%;
        }

        .logo {
            width: 35%;
            position: relative;
            border-radius: 50%;
        }

      


        

        /* Sektion 4 */


      
        

        
    
    }
    
