@font-face {
    font-family: Barlow;
    src: url(./font-family/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow-bold;
    src: url(./font-family/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./font-family/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./font-family/Poppins-Bold.ttf);
}




body {
    margin: 0;
    padding: 0;
    /* tar bort utrymme på kanter */

}

p {
    font-family: Poppins;

}

h1 {
    color: white;
    font-family: Barlow;

 
}

h5 {
    font-family: barlow-bold;
    font-size: 30px;
}

li {
    font-family: Poppins;
    font-size: 20px;
}



/* Sektion 1 = header och banner */


/* header är toppen på sidan där loggan och navigeringen är */
header {
    position: fixed;
    /* sitter fast i toppen men hamnar under banner bilden - z-index behövs */
    width: 100%;
    /* 100% av viewport*/
    z-index: 999;
    /* header-nav ligger ovanpå img banner */
    top: 0;
    /* space försvinner på toppen */
    left: 0;
    /* space försvinner på sidor */
    background-color: rgba(20, 27, 37, 0.644);
    
    
}



span {
    display: block;
}

.main-nav {
    margin: 20px 50px 20px 50px;
    height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.main-nav ul{
    flex: 1;
    text-align: right;
    
}

.main-nav h1 {
    font-family: Barlow;
}


/* listan i ul */
nav ul li {
    display: inline-block;
    /* så att de ligger på rad, man kan sätta paddding */
    margin: 0 5px;
    font-size: 25;
    padding-top: 0px;
    font-family: Barlow;
}

/* länkarna i nav */
nav li a {
    text-decoration: none;
    color: white;
}

/* sektion klassen där img och texten finns, banner=förälder */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;

}

/* blev ej parallax effekt */
.parallax {
    background-image: url("./img/nathon-oski-EW_rqoSdDes-unsplash.jpg");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;


}

/* så att hamburharmenyn inte syns */
.burger{
    display: none;
}




/* welcome texten i bannern, welcome-klassen är barn till banner-föräldern  */
.banner .welcome {
    position: absolute;
    /* tar ut från normalt dokument flöde och förlorar space runom texten */
    left: 55%;
    /* placerar text 55% från vänster */
    top: 25%;
    /* placerar text 25% från topp */
    color: white;
    width: 40%;
    z-index: 2;
}

.banner h2 {
    font-size: 45px;
    font-family: Barlow-bold;
    color: white;
}


.banner .welcome .undertext {
    color: white;
    font-family: Poppins;

}

/* p tagg i welcome texten på bannern */
.banner .welcome p {
    color: rgb(191, 146, 91);
    font-family: Poppins-bold;
}

.banner .welcome h2 span {
    color: transparent;
}

.undertext {
    border-left: 3px solid rgb(191, 146, 91);
    padding-left: 60px;
    font-family: Poppins;
}

/* länken i bannern med kantlinje - under welcome text */
.learnmore {

    background-color: rgba (255, 255, 255, .2);
    /* ingen bakgrundsfärg */
    text-decoration: none;
    /* ingen underline i länk */
    color: rgb(191, 146, 91);
    padding: 10px;
    border: 1px solid rgb(191, 146, 91);
    /* kantlinje runt länk */
    font-family: Barlow-bold;
    display: inline-block;
    margin-top: 2em;
}

/*hover färg när man trycker på länk */
a:hover {
    color: rgb(191, 146, 91);
}


.learnmore a:hover {
    background-color: rgb(191, 146, 91);
    color: white;
}





/* Sektion 2 = 4 boxar med bilder och text */




/* sektion klassen under bannern */
.tjanster {
    background-color: rgb(223, 182, 131);
    width: 100%;
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 100%);
    position: relative;

}

.tjanster h3 {
    font-family: Barlow-bold;
    font-size: 20px;
    padding-top: 30px;
    color: white;
}

.tjanster p {
    font-family: Poppins;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 100px;

}

/* div boxarna i tjanster klassen */
.tjanster>div {
    background-color: rgb(223, 182, 131);
    text-align: center;
    padding: 0px;
    z-index: 1;

}

/* .tjanster > div:nth-child(1) {
    grid-column: 

}*/

.tjanster .box1 {
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(223, 182, 131);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

/* egenskaper för box 2 */
.tjanster .box2 {
    background-color: rgb(191, 146, 91);
    grid-row-start: 1;
    grid-row-end: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;

}

.tjanster .box3 {
    background-color: rgb(223, 182, 131);
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}

.tjanster .box4 {
    background-color: rgb(191, 146, 91);
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}



.img-tjanster {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -35%;
    object-fit: ;

}

.box1 p, .box2 p, .box3 p, .box4 p{
    padding: 0 10%
}






/* Sektion 3 = About barber text, bild, box med kalender */




.barber-img {
    width: 761px;
    min-width: 761px;
    height: 1142px;
    display: inline-block;
    background-image: url("./img/jason-leung-2seUdPQNy_I-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10%;
}


.about-barber {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;

}


.about-text h4 {
    font-family: Barlow-bold;
    color: rgb(191, 146, 91);
    font-size: 14px;
}

.smooth-barber {
    font-family: Barlow-bold;
    color: black;
    font-size: 30px;
}

.barber-under {
    font-family: Poppins;
    color: black;
    font-size: 20px;
}

.calender-box {
    background-color: rgb(191, 146, 91);
    width: 300px;
    height: 170px;
    position: relative;
}

.number-text {
    font-family: Barlow-bold;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 55%;
    bottom: 30%;
    margin: 0%;
    padding: 0;

}

.logo {
    width: 35%;
    position: absolute;
    border-radius: 50%;
    top: 20%;
    left: 10%;

}







/* Sektion 4 = text, 3 boxar med recensioner */


.testimonial {
    background-color: rgb(235, 232, 222);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10%;

}


.testimonial h4 {
    font-size: 20px;
    font-family: Barlow-bold;
    color: rgb(191, 146, 91);
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.under-testimonial {
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
}

.testimonial .ruta p {
    font-size: 13px;
    text-align: left;

}

.citat-tecken {
    background-color: #b78649;
    color: white;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    top: 0%;
    left: 0%;
    font-size: 50px;


}

.rutor {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: center;
    /*den sätter rutorna i mitten*/

}

.ruta {
    background-color: white;
    padding: 3%;
    width: 20%;
    display: inline-block;
    margin-left: 1%;
    border-radius: 5px;

}

.innehåll-ruta {
    position: relative;
    font-size: 13px;
    bottom: 19%;
}

.ruta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* stjärnornas färg */
.checked {
    color: #b78649;
}

.stars {
    display: inline-block;
    position: absolute;
    bottom: 65px;
    padding-left: 5%;
}

.ruta .name {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    padding-left: 5%;
}

.ruta .kund {
    display: inline-block;
    position: absolute;
    bottom: -15px;
    padding-left: 5%;
    font-family: Barlow-bold;
}





/* Sektion 5 = footer, information */



footer {

    background-color: black;
    width: 100%;
    color: white;
    margin: 0%;
    padding: 0%;

}

.footer-innehåll {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    /*ändrar storleken på footern*/
    padding-bottom: 5%;
    /*ändrar storleken på footern*/
}

.main-footer {
    background-color: black;
    width: 20%;
    display: inline-block;
    position: relative;
    margin: 2%;
}



.socialmedia img {
    width: 60px;
    height: 60px;
    background-color: #b78649;
    border-radius: 50%;
    margin-right: 5%;
}


footer p {
    font-size: 20px;

}


footer li {
    list-style: none;
    margin-left: -2.5rem;
    padding-bottom: 1%;

}

.icons img {
    width: 35px;
    height: 35px;
    display: block;

}

.tel-icon {
    position: relative;
    top: 33%;
}

.mail-icon {
    position: relative;
    top: 44%;
}

.kontakt {
    display: flex;

}

.kontakt p {
    position: relative;
    bottom: 20px;
    left: 10px;
}





/* Responsiva delen */



@media screen and (max-width: 1400px) {
    .banner .welcome h2 {
        font-size: 29px;


    }

    .barber-img{
        max-width: 400px;
        min-width: 400px;
        min-height: 500px;
        max-height: 500px;
        margin: 0;
        margin-right: 5%;
    }
}



@media screen and (max-width: 960px) {

    .banner .welcome{
        left: 10%;
        width: 80%;
    }

    .tjanster .img {
        display: block;
        width: 100%;
        margin: 20px auto;
    }


    .box1 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box2 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;


    }

    .box3 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box4 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;
    }

    .about-barber{
        display: block;
    }

    
    .barber-img{
        max-width: 100%;
        min-width: 100%;
        min-height: 400px;
        max-height: 400px;
        margin: 0;
        margin-right: 0;
        background-position: fixed;
    }
    .about-text{
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    .rutor{
        display: block;
    }

    .ruta{
        display: block;
        width: 92%;
        margin: 2% 0%;
    }
    .footer-innehåll{
        display: block;
    }
    .main-footer{
        display: block;
        width: 80%;
    }
}


@media screen and (max-width: 700px) {

    header{
        background-color: #b78649;
        height: 40px;
    }

    .main-nav{
        margin: 0;
        display: block;
    }
    .main-nav h1{
        margin: 0;
        line-height: 40px;
        padding-left: 40px;
    }

    .main-nav ul{
        position: absolute;
        right: 0px;
        top: 40px;
        padding-right: 30px;
        background-color: rgb(0, 0, 0); 
        margin: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
    }

    .main-nav ul.showing {
        display: block;
    }
 
    /* Hamburgarmenyn */
    .burger{
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 23px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        user-select: none; /*tar bort förmågan att markera som text*/
        display: block;
    }


    .main-nav li{
        display: block;
    
    }

    .tjanster .img {
        display: block;
        width: 100%;
        margin: 20px auto;
    }


    .box1 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box2 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;


    }

    .box3 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box4 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }
}


@media screen and (max-width: 560px) {


    .tjanster {
        display: block;
    }

    .tjanster .img {
        display: block;
        width: 100%;
        margin: 20px auto;
    }


    .box1 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box2 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;


    }

    .box3 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box4 div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: -15%;

    }


}


@media screen and (max-width: 375px) {

    .main-nav{
        padding: 5px 2px;
    
    }


    .box1 div img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -15%;

    }

    .box2 div img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -15%;


    }

    .box3 div img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -15%;}

    .box4 div img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -15%;

    }



}

      
           
    
    }
    
