body {
    margin: 0;
    padding: 0; /* tar bort utrymme på kanter */
    
}

/* header är toppen på sidan där loggan och navigeringen är */
header {
    position: fixed; /* sitter fast i toppen men hamnar under banner bilden - z-index behövs */
    width: 100%; /* 100% av viewport*/
    z-index: 1; /* header-nav ligger ovanpå img banner */
    top: 0; /* space försvinner på toppen */
    left: 0; /* space försvinner på sidor */
}

span {
    display: block;
}

.main-nav {
    position: sticky; /* navigeringen följer med när man scrollar */
    background-color: rgb(20, 27, 37);
    opacity: 0.9;
    padding: 20px 50px 20px 50px;
    width: 100%;
    height: 40px;
    width: auto;
    white-space: nowrap;
}

nav ul {
    position: absolute; /* kopplar ifrån ordinarie dokument flöde - kan förflytta ul mha left och topp */
    left: 55%;
    top: 12%;
}


/* GJORDE FEL på denna: unordered list i navigeringen */
1111nav ul {
    display: flex;
    white-space: nowrap; /* så att de hamnar på samma rad */
    margin: auto; /* margin är automatisk vänater och höger */
    max-width: 100%;
    align-items: right; /* länkar är till höger */
    justify-content: right;
    flex-direction: row;
    text-align: right;
    vertical-align: middle; 
    
}


/* listan i ul */
nav li {
    display: inline-block; /* så att de ligger på rad, man kan sätta paddding */
    font-size: 25;
    width: 25%; 
    padding-top: 10px;
    

}

/* länkarna i nav */
nav li a {
    text-decoration: none;
    color: white;
}

/* sektion klassen där img och texten finns, banner=förälder */
.banner {
    position: relative;
    
}

.banner img {
    max-width: 100%;

}

/* welcome texten i bannern, welcome-klassen är barn till banner-föräldern  */
.banner .welcome{
    position: absolute; /* tar ut från normalt dokument flöde och förlorar space runom texten */
    left: 55%; /* placerar text 55% från vänster */
    top: 25%; /* placerar text 25% från topp */
    color: white;
}

.banner h2{
    font-size: 30px;
    color: white;
}

.banner .welcome .undertext {
    color: white;
}

/* p tagg i welcome texten på bannern */
.banner .welcome p {
    color:  rgb(191, 146, 91);
}

.undertext {
    border-left: 3px solid rgb(191, 146, 91);
    padding-bottom: 90px;
    padding-left: 60px;
}

/* länken i bannern med kantlinje - under welcome text */
.learnmore a {
    position: absolute;
    background-color: rgba (255, 255, 255, .2); /* ingen bakgrundsfärg */
    text-decoration: none; /* ingen underline i länk */
    color:  rgb(191, 146, 91);
    padding: 10px;
    border: 1px solid rgb(191, 146, 91); /* kantlinje runt länk */
    bottom: 50px;
    left: 60px;
}
    
a:hover {
    color:  rgb(191, 146, 91);
}

.learnmore a:hover {
    background-color:  rgb(191, 146, 91);
    color: white;
}


h1 {
    color: white;
    font-size: ;
    display: flex;
    white-space: nowrap;
    margin: auto;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    text-align: left; 
    position: absolute; 
    padding-top: 10px;
}


/* logga i header-nav */
/*nav img {
    display: flex;
    white-space: nowrap;
    margin: auto;
    max-width: 100%;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    text-align: left; 
    position: absolute;  
} */


/* sektion klassen under bannern */
.tjanster {
    background-color:  rgb(223, 182, 131);
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: repeat(4, 25%);
}

/* div boxarna i tjanster klassen */
.tjanster > div {
    background-color: rgb(223, 182, 131);
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

/* .tjanster > div:nth-child(1) {
    grid-column: 

}*/

/* egenskaper för box 2 */
.tjanster .box2 {
    background-color: rgb(191, 146, 91);
}

.tjanster .box4 {
    background-color: rgb(191, 146, 91);
}

.box1 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -50%;
    
}

.box2 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -50%;
     
}

.box3 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -50%;
    
}

.box4 div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -50%;
   
}

.about-barber {
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.about-barber .about.main {
    background-color: white;
    width: 100%;
    height: 500px;
    padding: 50px;
    margin: 0 auto;
}


.about-barber .about-main img {
    width: 100%;
    height: 950px;
    
   
}

.about-text {
    display: inline-block;
    position: absolute;
    
    
}



.testimonial {
    background-color: rgb(235, 232, 222);
    height: 500px;
    width: 100vw;
    margin: 0 auto;
    

}


.footer {
    background-color: black;
    height: 300px;
    width: 100vw;
    color: white;
    margin: 0 auto;
    
}

@media screen and (min-width: 400px) {
    .banner .welcome h2{
      

}